body {
  overflow-x: hidden;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-image: url(../images/bg-body1.jpg);
}

.main-header {
  height: 100vh;
  background-color: gray;
  background-image: url(../images/bg1.jpg);
  background-size: cover;
  position: relative;
}
.main-header .top {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.537);
  position: fixed;
}
.main-header .top .logo {
  width: 60px;
  margin-top: 22px;
  margin-left: 150px;
}
.main-header .top .menu > ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.main-header .top .menu > ul > li {
  list-style-type: none;
}
.main-header .top .menu > ul > li > a {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.922);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.4s;
}
.main-header .top .menu > ul > li > a:hover {
  color: #fdb407;
  border-bottom: 1px solid #fdb407;
}
.main-header .top .menu > ul > li:nth-of-type(1) > a {
  color: #fdb407;
}
.main-header .top .toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header .top .toggle > i {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.922);
}
.main-header .top .right {
  display: flex;
  justify-content: start;
  align-items: center;
}
.main-header .top .right > div {
  display: flex;
  flex-wrap: nowrap;
}
.main-header .top .right > div > i {
  margin: 0 5px;
  color: rgba(255, 255, 255, 0.922);
}
.main-header .side {
  width: 50px;
  height: 100vh;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.main-header .side .social-icons {
  height: 150px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.main-header .side .social-icons > a {
  width: 100%;
  height: 30px;
  color: rgb(255, 255, 255);
  margin: 0 20px 0 -10px;
  text-transform: uppercase;
  text-decoration: none;
  transform: rotate(270deg);
  cursor: pointer;
  transition: 0.4s;
  text-align: center;
  font-size: 12px;
}
.main-header .texth {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 25%;
  left: 11%;
}
.main-header .texth > div:nth-of-type(1) {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  margin-top: 50px;
  font-weight: bold;
}
.main-header .texth > div:nth-of-type(1) > * {
  padding: 10px 0;
  height: 100%;
  color: #fdb407;
  margin-right: 10px;
  font-size: 13px;
}
.main-header .texth > div:nth-of-type(1) > span {
  height: 1px;
  width: 20px;
  border-bottom: 1px solid #fdb407;
}
.main-header .texth > h1 {
  font-size: 45px;
  color: white;
  font-weight: bold;
  line-height: 1;
}
.main-header .texth > h1 > span {
  color: #fdb407;
}
.main-header .texth > a {
  position: relative;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 160px;
  height: 60px;
  font-size: 13px;
  font-weight: bold;
  padding-top: 18px;
  margin-left: 15px;
  margin-top: 40px;
}
.main-header .texth > a::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 40%;
  left: 0;
  bottom: 2px;
  background-color: transparent;
  padding-top: 18px;
  font-weight: bold;
  border-left: 1px solid #fdb407;
  border-bottom: 1px solid #fdb407;
  transition: 1s;
}
.main-header .texth > a::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 80%;
  right: 0;
  top: 2px;
  background-color: transparent;
  padding-top: 18px;
  font-weight: bold;
  border-right: 1px solid #fdb407;
  border-top: 1px solid #fdb407;
  transition: 1s;
}
.main-header .texth > a:hover::after, .main-header .texth > a:hover::before {
  width: 110%;
  height: 110%;
}

.service {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
}
@media (max-width: 991px) {
  .service {
    flex-direction: column;
  }
}
.service > div {
  height: 500px;
  border: 1px solid #656565;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service > div > div {
  width: 68%;
  margin: 50px 0;
}
.service > div > div > span:nth-of-type(1) {
  font-size: 40px;
  color: #656565;
}
.service > div > div > p:nth-of-type(1) {
  color: #fdb407;
  transition: 1s;
}
.service > div > div > h2 {
  font-size: 30px;
  color: white;
  transition: 1s;
}
.service > div > div > span:nth-of-type(2) {
  color: #fdb407;
}
.service > div > div > p:nth-of-type(2) {
  color: #656565;
  font-size: 15px;
  position: relative;
  margin-top: 5%;
}
.service > div > div > a {
  text-decoration: none;
  color: white;
  padding: 3% 7%;
  border-left: 1px solid #fdb407;
  border-right: 1px solid #fdb407;
  transition: 1s;
}
.service > div > div > a:hover {
  border-top: 1px solid #fdb407;
  border-bottom: 1px solid #fdb407;
}
.service > div > div:hover > p:nth-of-type(1) {
  color: white;
}
.service > div > div:hover > h2 {
  color: #fdb407;
}

.title {
  display: flex;
  flex-wrap: wrap;
  margin: 7% 0;
}
.title > * {
  width: 100%;
  text-align: center;
}
.title > h4 {
  color: #fdb407;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.title > h3 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-transform: capitalize;
}
.title > div {
  display: flex;
  justify-content: center;
}
.title > div > ul {
  display: flex;
  flex-wrap: nowrap;
}
.title > div > ul > li {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 13px;
}
.title > div > ul > li > a {
  font-weight: bold;
  color: rgba(101, 101, 101, 0.5803921569);
  text-decoration: none;
  transition: 1s;
}
.title > div > ul > li > a:hover {
  color: #fdb407;
}
.title > div > ul > li:nth-of-type(1) > a {
  color: white;
  border-bottom: 1px solid #fdb407;
}

.gallery {
  height: auto;
  display: flex;
  margin-top: -70px;
}
.gallery .r {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 15%;
}
.gallery .r > div {
  height: 400px;
  flex: 1;
  margin: 10px;
  position: relative;
  overflow: hidden;
}
.gallery .r > div:nth-of-type(1) {
  background-image: url(../../assets/images/img1-1024x1024.jpg);
  background-size: cover;
}
.gallery .r > div:nth-of-type(2) {
  background-image: url(../../assets/images/img2-1024x1024.jpg);
  background-size: cover;
}
.gallery .r > div:nth-of-type(3) {
  background-image: url(../../assets/images/img3-1024x1024.jpg);
  background-size: cover;
}
.gallery .r > div:nth-of-type(4) {
  background-image: url(../../assets/images/img4-1024x1024.jpg);
  background-size: cover;
}
.gallery .r > div:nth-of-type(5) {
  background-image: url(../../assets/images/img5.jpg);
  background-size: cover;
}
.gallery .r > div:nth-of-type(6) {
  background-image: url(../../assets/images/img6.jpg);
  background-size: cover;
}
.gallery .r > div:nth-of-type(7) {
  background-image: url(../../assets/images/img7.jpg);
  background-size: cover;
}
.gallery .r > div:nth-of-type(8) {
  background-image: url(../../assets/images/img8-1024x638.jpg);
  background-size: cover;
}
.gallery .r > div:nth-of-type(9) {
  background-image: url(../../assets/images/img9-1024x726.jpg);
  background-size: cover;
}
.gallery .r > div:hover > div {
  opacity: 1;
  height: auto;
}
.gallery .r > div > div {
  position: absolute;
  background-color: rgba(24, 24, 24, 0.7450980392);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  display: flex;
  flex-wrap: nowrap;
  opacity: 0;
  transition: 1s;
}
.gallery .r > div > div > * {
  flex-grow: 1;
  height: 100%;
  color: white;
}
.gallery .r > div > div > p {
  width: 50%;
  padding-top: 3%;
}
.gallery .r > div > div > p > span {
  color: #fdb407;
}
.gallery .r > div > div > span:nth-of-type(1) {
  padding-left: 10%;
  color: #fdb407;
}
.gallery .r > div > div > span:nth-of-type(2) {
  padding-left: 10%;
  padding-top: 10%;
  color: #fdb407;
}
@media (max-width: 992px) {
  .gallery .r > div {
    flex-basis: calc(50% - 20px);
  }
}
@media (max-width: 768px) {
  .gallery .r > div {
    flex-basis: calc(100% - 20px);
  }
}
@media (min-width: 992px) {
  .gallery .r > div {
    flex-basis: calc(33.33% - 20px);
  }
}

.number {
  height: 100px;
  margin-top: 100px;
  border-top: 1px solid #656565;
  border-bottom: 1px solid #656565;
}
.number .f {
  width: 80%;
  margin-left: 11%;
  display: flex;
  flex-wrap: wrap;
}
.number .f > div {
  width: 25%;
  flex-grow: 1;
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
}
.number .f > div > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.number .f > div > i {
  font-size: 30px;
  color: #656565;
}
.number .f > div > span {
  height: 40px;
  margin-top: 30px;
  width: 1px !important;
  background-color: #fdb407;
  margin-left: 30px;
}
.number .f > div > div {
  width: 220px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-left: 30px;
}
.number .f > div > div > * {
  width: 100%;
  font-weight: bold;
}
.number .f > div > div > p:nth-of-type(1) {
  font-size: 30px;
  color: white;
  margin-top: 15px;
}
.number .f > div > div > p:nth-of-type(2) {
  font-size: 15px;
  color: #fdb407;
  margin-top: -20px;
}
@media (max-width: 991px) {
  .number {
    height: auto;
    margin-top: 100px;
  }
  .number .custom-col {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  .number {
    height: auto;
    margin-top: 100px;
  }
  .number .custom-col {
    flex-basis: 100%;
  }
}

.client {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  flex-direction: column;
}
.client > * {
  width: 100%;
  text-align: center;
}
.client > h5 {
  color: #fdb407;
  font-size: 15px;
}
.client > h4 {
  color: white;
  font-size: 50px;
}
.client > span {
  width: 40px;
  height: 1px;
  background-color: #fdb407;
  margin: 0 48.5%;
}
.client > div {
  height: 500px;
}
.client > div > div > div > img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 50px;
}
.client > div > div > div > p {
  text-align: center;
  width: 70%;
  margin-left: 15%;
}
.client > div > div > div > p:nth-of-type(1) {
  margin-top: 50px;
  color: #808080;
  font-size: 20px;
}
.client > div > div > div > p:nth-of-type(2) {
  margin-top: 20px;
  font-size: 18px;
  color: #fdb407;
}
.client > div > div > div > p:nth-of-type(3) {
  font-size: 15px;
  color: #656565;
  margin-top: -20px;
}

.logo-l {
  height: auto;
}
.logo-l > div {
  display: flex;
  flex-wrap: nowrap;
  height: 150px;
  width: 60%;
  margin: 0 20%;
  flex-wrap: wrap;
}
.logo-l > div > div {
  height: 150px;
  position: relative;
  padding-left: 7%;
  padding-top: 2%;
}
.logo-l > div > div > img {
  width: 70%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
}
.logo-l > div > div > img:nth-of-type(2) {
  opacity: 0;
}
.logo-l > div > div:hover > img:nth-of-type(1) {
  opacity: 0;
}
.logo-l > div > div:hover > img:nth-of-type(2) {
  opacity: 1;
}
@media (max-width: 991px) {
  .logo-l > div {
    height: auto;
    margin-top: 100px;
  }
  .logo-l > div .custom-col {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  .logo-l > div {
    height: auto;
    margin-top: 100px;
  }
  .logo-l > div .custom-col {
    flex-basis: 100%;
  }
}

footer {
  margin-top: 100px;
  border-top: 1px solid rgba(128, 128, 128, 0.625);
  padding-top: 50px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
footer .first {
  position: relative;
}
footer .first > img {
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .first > p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.732);
}
footer .second > h6 {
  letter-spacing: 1px;
  color: white;
}
footer .second > p > a {
  text-decoration: none;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.732);
}
footer .third > p > a {
  text-decoration: none;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.732);
}
footer .fourth > h6 {
  letter-spacing: 6px;
  color: white;
}
footer .fourth > p {
  text-decoration: none;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.732);
}
footer .fifth {
  position: absolute;
  bottom: 30%;
  font-size: 13px;
  left: 0;
}/*# sourceMappingURL=master.css.map */